<ion-header>
  <ion-toolbar>
    <ion-title>Actividades</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="primary" fill="solid" (click)="goCreate()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-activities" padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" refreshingSpinner="circles" refreshingText="Cargando ...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let note of listado">
    <ion-card-content [class]="note.priority">
      <ion-card-title>
        <b>{{note.title}}</b>
      </ion-card-title>
      <b>{{ note.date | date: "dd/MM/yyyy HH:mm"}} </b>

      <p style="text-align:justify" small>{{note.description}}</p>
    </ion-card-content>
    <ion-item>
      <ion-button fill="solid" slot="end" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button fill="solid" slot="end" (click)="edit(note.rowid)" color="success">
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>